.external {
  text-decoration: none;
  white-space: nowrap;
  color: unset;
  position: relative;
}
.external:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 65%;
  left: -0.1rem;
  right: -0.1rem;
  bottom: 0;
  transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
  background-color: rgba(var(--highlight));
}
.external:hover:after {
  top: 0;
}
